/* FUENTES */

@font-face {
    font-family: "Praise";
    src: url(fonts/Praise-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Lobster";
    src: url(fonts/Lobster-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Greek";
    src: url(fonts/GFSNeohellenic-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: 'Lobster';
    height: 200px;
}

nav ul li a{
    transition: all 300ms;
}

nav ul li a:hover{
    border-bottom: 2px solid white;

}




